$ts-color-primary: rgba(242, 243, 244, 100) !default;
$ts-color-secondary: rgba(220, 222, 225, 100) !default;
$ts-grayscale: 1 !default;
$ts-blur: 2px !default;

$ts-degree: 100deg !default;
$ts-background-size: 250% !default; //depenting on the boxwidth and degree the size must be stretched
$ts-animation-duration: 2.5s !default;

@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }
  10% {
    background-position: 100% 100%;
  }

  90% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}

.true-skeleton {
  filter: blur($ts-blur) grayscale($ts-grayscale);
  cursor: wait;
  pointer-events: none;
  &::after {
    content: '';
    position: absolute;
    filter: blur($ts-blur) grayscale($ts-grayscale);
    opacity: 0.2;
    cursor: wait;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: black linear-gradient($ts-degree, $ts-color-primary 0%, $ts-color-primary 45%, $ts-color-secondary 49%, $ts-color-secondary 51%, $ts-color-primary 55%, $ts-color-primary 100%, $ts-color-primary);
    background-size: 250% 100%;
    animation: gradient $ts-animation-duration ease-in-out infinite;
  }
}
